
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 5%;
	margin-right: 5%;
}



h1 {
    color:blue;
    font-family: "Times New Roman", Times, serif;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size:300%;
}